// Defining font styles

.display{
  font-family: $fraunces;
  font-size: $fs-32;
  font-weight: $fw-700;
  line-height: 32px;
  color: $blue-dark;
  text-transform: capitalize;
}

.body{
  font-family: $montserrat;
  font-size: $fs-14;
  font-weight: fw-500;
  line-height: 23px;
  color: $gray-blue-dark;
}

.button-text{
  font-family: $montserrat;
  font-size: $fs-14;
  font-weight: $fw-700;
  line-height: auto;
}

.overline{
  font-family: $montserrat;
  font-size: $fs-12;
  font-weight: fw-500;
  line-height: auto;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: $gray-blue-dark;
  padding-bottom: 1rem;
}

.price {
  font-family: $fraunces;
  font-size: $fs-32;
  font-weight: $fw-700;
  line-height: 32px;
  color: $cyan-dark;
  margin-right: 1rem;
}

.line-through{
  text-decoration: line-through;
}

