// Defining font styles

// Font for h1 title
.display{
  font-family: $fraunces;
  font-size: $fs-32;
  font-weight: $fw-700;
  line-height: $fs-32;
  color: $blue-dark;
  text-transform: capitalize;
}

// Font for p tags and spans
.body{
  font-family: $montserrat;
  font-size: $fs-14;
  font-weight: fw-500;
  line-height: 23px;
  color: $gray-blue-dark;
}

// Font for button
.button-text{
  font-family: $montserrat;
  font-size: $fs-14;
  font-weight: $fw-700;
  line-height: auto;
}

// Font for subject sub-title
.overline{
  font-family: $montserrat;
  font-size: $fs-12;
  font-weight: fw-500;
  line-height: auto;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: $gray-blue-dark;
  padding-bottom: 1rem;

  @media only screen and (min-width: 1440px){
    padding-bottom: 1.5rem;
  }
}

// Font for the price 
.price {
  font-family: $fraunces;
  font-size: $fs-32;
  font-weight: $fw-700;
  line-height: $fs-32;
  color: $cyan-dark;
  margin-right: 1rem;
}

// Needed for the regular price
.line-through{
  text-decoration: line-through;
}

